########## TMC AutoTune Motor Settings ##########

########## Motor Settings ##########

# X/Y MOTORS 
[motor_constants ldo-42sth48-2504ah]
resistance: 1.2
inductance: 0.0015
holding_torque: 0.55
max_current: 2.5
steps_per_revolution: 200

# Extruder Motor
[motor_constants ldo-36sth20-1004ahg-9T]
resistance: 2.4
inductance: 0.0014
holding_torque: 0.10
max_current: 1.0
steps_per_revolution: 200

# Z motors 
[motor_constants omc-17hs15-1504s]
resistance: 2.30
inductance: 0.0044
holding_torque: 0.45
max_current: 1.50
steps_per_revolution: 200

########## Motor Breakdown List ##########

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 24.0

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah
tuning_goal: performance
voltage: 24.0

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T
tuning_goal: performance
tbl: 0
toff: 4
voltage: 24.0

[autotune_tmc stepper_z]
motor: omc-17hs15-1504s
tuning_goal: performance
voltage: 24.0

[autotune_tmc stepper_z1]
motor: omc-17hs15-1504s
tuning_goal: performance
voltage: 24.0

[autotune_tmc stepper_z2]
motor: omc-17hs15-1504s
tuning_goal: performance
voltage: 24.0

#[autotune_tmc stepper_full example]
#motor: ldo-36sth20-1004ahg-9T
#tuning_goal: performance
#extra_hysteresis: 1
#tbl: 0
#toff; 4
#voltage: 24.0


#driver_TBL: 0
#driver_HEND: 6
#driver_HSTRT: 7
#driver_TOFF: 4